$black: #000000;
$white: #ffffff;

$whitetypo: #ffffff;
$whitetypoalpha: 0.6;
$blacktypo: #000000;
$blacktypoalpha: 0.6;

$linealpha: 0.6;

$radialout: #414B46;
$radialin: #414B46;

$iconblob: #95957e36;
$iconblob2: #A9BDB3;

$icontext: #EAE8E3;

$line: #ffffff;

$invisible: #ff000000;

$windowBackColor: #4F6E6A;
$windowsMainMenuBackColor: #344A47;


$blue: #70abeb;
$green: #a1c37e;
$yellow: #d2bc82;
$purple: #bc79d9;
$red: #d17275;


$space: 0.2em;

$h1size: $space * 10;
$h2size: $space * 8;
$h3size: $space * 6;
$h4size: $space * 5;

$line-height: 1.1;
